---
import Schema from '@/components/Head/Schema.astro';
import { SITE } from '@/config/site';

import '@/styles/global.css';

const { title, schemaNodes = [] } = Astro.props;
type currentLocale = "ar" | "en";
const currentLocale = (Astro.currentLocale || 'ar') as currentLocale;
const dir = currentLocale === 'ar' ? 'rtl' : 'ltr';
---

<!doctype html>
<html lang={currentLocale} dir={dir}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={SITE.i18n[currentLocale].description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logowhte.svg" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@reimujs/aos/dist/aos.css"
		/>
		<script is:inline src="https://cdn.jsdelivr.net/npm/@reimujs/aos/dist/aos.umd.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<!-- altrntive feed sitemap -->
		<link rel="alternate" type="application/rss+xml" href="/sitemap-index.xml" title="Rehabco RSS Feed" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <Schema nodes={schemaNodes} />
	</head>
	<body>
		<slot />
	<script is:inline src="https://cdn.jsdelivr.net/npm/zenscroll@4.0.2/zenscroll-min.min.js"></script>		
	<script is:inline>
		AOS.init();
	</script>
	</body>
</html>
